---
layout: default
menu: champions-form  
---
<div class="container content" >
  <div class="title-box-v2">
    <h2>Пробный каталог</h2>
  </div>

</div>
<div class="container content  entry-content" >
  <div class="row">
    <div class="col-md-12">     
      <p>Выставочное положение и т.п.</p>

      
     <div class="table-responsive">                  

      <table class="table table-bordered test-results">
        <col width="20%"><col width="12%"><col width="10%"><col width="35%"><col width="10%"><col width="13%">
        <thead>
          <tr>
            <th>Кличка</th>         
            <th>№ родословной</th>
            <th>ДР</th>  
            <th>Результат</th> 
            <th>Дата теста</th>  
            <th>ФИО врача</th>                  
          </tr>
        </thead>
        <tbody>

      {% assign breeds = site.data.catalog1 | group_by:"breed"| sort:"name" %}  
          
        {% for breed in breeds %}
        {% assign code = breed[0] %}
        {% assign teacher = t[1] %}
        {% assign photo = t[2] %}
        {% assign subject = t[3] %}
        {% assign standing = t[4] %}
        {% assign exp = t[5] %}
        {% assign edu = t[6] %}
        {% assign spec = t[7] %}
        {% assign cat = t[8] %}
        {% assign subjecten = t[9] %}
        {% assign description = t[10] %}
          {{ breed | inspect }}
        {% assign types = breed.items | group_by:"type" %}
          <tr>
            <td class="breed-test" colspan="6">{{breed.name}}</td>                                    
          </tr>           
          {% for type in types %}
              <tr>
                <td class="type-test" colspan="6">{{type.name}}</td>                                    
              </tr>            
          {% assign results = type.items | sort:"result,name" %}

             {% for result in results %}

              <tr>
                <td class="test-name">{{ result.name }}</td>            
                <td>{{ result.pedigree }}</td>
                <td>{{ result.dob }}</td>
                <td>{{ result.result }}</td>
                <td>{{ result.date }}</td>
                <td>{{ result.doctor }}</td>                         
              </tr>    
             {% endfor %}   <!-- result-->    
         {% endfor %}  <!-- type-->       
      {% endfor %}  <!-- breed-->    
         
        </tbody>
      </table>
      </div>
     </div>
  </div>
</div>         
      
  