---
layout: default
menu: members
---
<div class="container content" >
  <div class="title-box-v2">
    <h2>Члены НКП - <span class="color-green">физические лица</span></h2>
  </div>
</div>
<div class="container content  entry-content" >
  <div class="row">
    <div class="col-md-12 shadow-wrapper">
      <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
      <p>Для вступления в НКП необходимо заполнить электронную форму <a href="/membership-form-fiz.html">для физических лиц</a> и оплатить членский взнос.</p> 
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12 shadow-wrapper">
      <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
      <h4>Благодарность</h4> 
      <p>Большая благодарность членам НКП (физическим лицам), оказавшим спонсорскую помощь на развитие НКП:</p> 
        <ul>
          <li>Лопуховой Галине Николаевне</li>
          <li>Шестак Елене Константиновне</li>
        </ul>
    </div>
  </div>  
  <div class="row">
    <div class="col-md-12">
      <div class="title-box-v2">
        <h2>Список членов НКП - <span class="color-green">физических лиц</span></h2>
      </div>          
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
              <p><strong>ФИО</strong></p>
              </th>         
              <th>
              <p><strong>Город</strong></p>
              </th>
              <th>
              <p><strong>Питомник/приставка</strong></p>
              </th>                            
            </tr>
          </thead>
          <tbody>
            {% for mmb in site.data.members %}
            <tr>
              <td>
              <p><strong>
                {{ mmb.name }}                
                </strong></p>
              </td>
              <td>
              <p><strong>{{ mmb.city }}</strong></p>
              </td>   
              <td>
              <p><strong>
                  {% if $mmb.link %}
                    <a href="{{ mmb.link }}">{{ mmb.kennel }}</a>                
                  {% else %} 
                      {{ mmb.kennel }}
                  {% endif %}    
                </strong></p>
              </td>                             
            </tr>    
         {% endfor %}            
          </tbody>
        </table>      
    </div>
  </div>
</div>

