---
layout: default
menu: members
---
<div class="container content" >
  <div class="title-box-v2">
    <h2>Члены <span class="color-green">НКП НЕМЕЦКИЙ ШПИЦ</span></h2>
  </div>
</div>
<div class="container content  entry-content" >
  <div class="row">
    <div class="col-md-12">
					<div class="panel-group acc-v1" id="accordion-1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
										Члены НКП - организации
									</a>
								</h4>
							</div>
							<div id="collapse-One" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                            <p><strong>Название организации</strong></p>
                            </th>         
                            <th>
                            <p><strong>Город</strong></p>
                            </th>
                            <th>
                            <p><strong>Руководитель</strong></p>
                            </th>                            
                          </tr>
                        </thead>
                        <tbody>
                          {% for cl in site.data.clubs %}
                          <tr>
                            <td>
                            <p><strong>{{ cl.club }}</strong></p>
                            </td>
                            <td>
                            <p><strong>{{ cl.city }}</strong></p>
                            </td> 
                            <td>
                            <p><strong>{{ cl.organizer }}</strong></p>
                            </td>                             
                          </tr>    
                       {% endfor %}            
                        </tbody>
                      </table>     
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-Two">
										Члены НКП - физические лица
									</a>
								</h4>
							</div>
							<div id="collapse-Two" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>
                            <p><strong>ФИО</strong></p>
                            </th>         
                            <th>
                            <p><strong>Город</strong></p>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for mmb in site.data.members %}
                          <tr>
                            <td>
                            <p><strong>{{ mmb.name }}</strong></p>
                            </td>
                            <td>
                            <p><strong>{{ mmb.city }}</strong></p>
                            </td>            
                          </tr>    
                       {% endfor %}            
                        </tbody>
                      </table>    
										</div>
									</div>
								</div>
							</div>
						</div>    
    </div>
  </div>
</div>

