---
layout: default
menu: members-clubs
keywords: члены НКП
description: Члены НКП - клубы
---
<div class="container content" >
  <div class="title-box-v2">
    <h2>Члены НКП - <span class="color-green">организации</span></h2>
  </div>
</div>
<div class="container content  entry-content" >
  <div class="row">
    <div class="col-md-12 shadow-wrapper">
      <div class="tag-box tag-box-v2 box-shadow shadow-effect-2">
      <p>Для вступления в НКП необходимо заполнить электронную форму <a href="/membership-form-club.html">для клубов</a> и оплатить членский взнос.</p> 
      </div>
    </div>
  </div>    
  <div class="row">
    <div class="col-md-12">
      <div class="title-box-v2">
        <h2>Список членов НКП - <span class="color-green">организаций</span></h2>
      </div> 
      <div class="table-responsive">                  
      <table class="table table-bordered table-calendar tablesorter" id="Mysorter">
        <thead>
          <tr>
            <th>
            <p><strong>Название организации</strong></p>
            </th>         
            <th>
            <p><strong>Город</strong></p>
            </th>
            <th>
            <p><strong>Руководитель</strong></p>
            </th>                            
          </tr>
        </thead>
        <tbody>
          {% for cl in site.data.clubs %}
          {% if $cl.cont-2018%}
          <tr>
            <td>
              {% if $cl.link%}
              <a href="{{ cl.link }}" rel="nofollow"><noindex>{{ cl.club }}</noindex></a>     
              {% else %}  
                {{ cl.club }}
              {% endif %}  
            </td>
            <td>{{ cl.city }}
            </td> 
            <td>{{ cl.organizer }}
            </td>                             
          </tr>  
       {% endif %}  
       {% endfor %}            
        </tbody>
      </table>
      </div>  
    </div>
  </div>
</div>

