---
layout: default
menu: shows-calendar
keywords: монопородные выставки
description: календарь монопородных выставок на 2020 год
---

<div class="container content" >
  <div class="title-box-v2">
    <h2>Календарь выставок<span class="color-green"> ранга ПК и КЧК</span> на 2020 год, </h2>
  </div>
</div>

<div class="container content  entry-content" >
  <div class="row">
    <div class="col-md-12">   
    <p><a href="http://nkp-spitz.org/shows-calendar.html" class="btn btn-sm rounded btn-primary" type="button"> Календарь на 2018</a> &nbsp;</p>
    <p><a href="http://nkp-spitz.org/shows-calendar-2019.html" class="btn btn-sm rounded btn-primary" type="button"> Календарь на 2019</a> &nbsp;</p>
    <p><noindex><a href="https://rkf.online/exhibitions?BreedIds=116" class="btn btn-sm rounded btn-primary"  rel="nofollow" type="button"> Актуальный календарь на сайте РКФ</a> &nbsp;</noindex></p>
      
     <div class="table-responsive">                  
          
      <table class="table table-bordered table-calendar tablesorter" id="Mysorter">
        <thead>
          <tr>
            <th>Даты</th>                     
            <th>Город</th>
            <th>Клуб</th>  
            <th>Ранг</th>             
            <th>Федерация</th>   
            <th>Контакты</th>                
          </tr>
        </thead>
        <tbody>
          <col width="10%">
          <col width="15%">
          <col width="30%">
          <col width="10%">
          <col width="10%">
          <col width="10%">
          {% for cl in site.data.calendar2020 %}
          {% assign date1 = cl['Дата начала'] %}
          {% assign date2 = cl['Дата окончания'] %}
          {% assign city = cl['Город проведения'] %}
          {% assign club = cl['Название клуба'] %}
          {% assign rang = cl['Ранг'] %}
          {% assign federation = cl['Федерация'] %}
          {% assign leader = cl['Контакты'] %}



         {% if rang == 'ПК' %}
          <tr class="table-success">
            
         {% endif %}
         {% if rang == 'КЧК' %}
          <tr>
         {% endif %}        
         {% if rang == 'ЧК' %}
          <tr class="table-info">
         {% endif %}              
            <td>
         {% if date1 == date2 %}              
                {{ date1}}
          {% endif %}        
         {% if date1 != date2 %}              
                {{ date1}}<br>{{ date2}} 
          {% endif %}        
            </td>            
            <td>{{ city }}</td> 
            <td>{{ club }}</td>  
            <td>{{ rang }}</td>              
            <td>{{ federation }}</td>
            <td>{{ leader }}</td>             
          </tr>    
       {% endfor %}            
        </tbody>
      </table> 
      </div>
    </div>
  </div>
</div>
