---
layout: default
menu: shows-calendar
---
<div class="container content" >
  <div class="title-box-v2">
    <h2>Календарь выставок<span class="color-green"> ранга ЧК, ПК, КЧК</span> на 2018 год, </h2>
    <p>утвержденный решением Президиума НКП от 30.08.2017 г.</p>
  </div>
</div>
<div class="container content  entry-content" >
  <div class="row">
    <div class="col-md-12">   
      <table class="table table-bordered table-calendar">
        <thead>
          <tr>
            <th>Даты</th>                     
            <th>Город</th>
            <th>Клуб</th>  
            <th>Ранг</th>             
            <th>Федерация</th>   
            <th>Контакты</th>                
          </tr>
        </thead>
        <tbody>
          {% for cl in site.data.calendar %}
         {% if cl.rang == 'ПК' %}
          <tr class="table-success">
            
         {% endif %}
         {% if cl.rang == 'КЧК' %}
          <tr>
         {% endif %}        
         {% if cl.rang == 'ЧК' %}
          <tr class="table-info">
         {% endif %}              
            <td>
         {% if cl.date1 == cl.date2 %}              
                {{ cl.date1}}
          {% endif %}        
         {% if cl.date1 != cl.date2 %}              
                {{ cl.date1}}<br>{{ cl.date2}} 
          {% endif %}        
            </td>            
            <td>{{ cl.city }}</td> 
            <td>{{ cl.club }}</td>  
            <td>{{ cl.rang }}</td>              
            <td>{{ cl.federation }}</td>
            <td>{{ cl.leader }}<br>{{ cl.contacts }}</td>             
          </tr>    
       {% endfor %}            
        </tbody>
      </table>     
    </div>
  </div>
</div>

