---
layout: default
menu: shows-calendar
---
<div class="container content" >
  <div class="title-box-v2">
    <h2>Календарь выставок<span class="color-green"> ранга ЧК, ПК, КЧК</span> на 2018 год, </h2>
    <p>утвержденный решением Президиума НКП от 30.08.2017 г.</p>
  </div>
</div>
<div class="container content  entry-content" >
  <div class="row">
    <div class="col-md-12">   
      <table class="table  table-hover">
        <thead>
          <tr>
            <th>
            <p><strong>Даты проведения</strong></p>
            </th>                     
            <th>
            <p><strong>Город</strong></p>
            </th>
            <th>
            <p><strong>Клуб</strong></p>
            </th>  
            <th>
            <p><strong>Ранг</strong></p>
            </th>             
            <th>
            <p><strong>Федерация</strong></p>
            </th>   
 
            <th>
            <p><strong>Контакты</strong></p>
            </th>                
          </tr>
        </thead>
        <tbody>
          {% for cl in site.data.calendar %}
         {% if cl.rang == 'ПК' %}
          <tr class="table-info">
         {% endif %}
         {% if cl.rang == 'КЧК' %}
          <tr class="table-success">
         {% endif %}        
         {% if cl.rang == 'ЧК' %}
          <tr class="table-danger">
         {% endif %}              
            <td>  
            <p><strong>
         {% if cl.date1 == cl.date2 %}              
                {{ cl.date1}}
          {% endif %}        
         {% if cl.date1 != cl.date2 %}              
                {{ cl.date1}}<br>{{ cl.date2}} 
          {% endif %}        
              
              </strong></p>
            </td>            
            <td>
            <p><strong>{{ cl.city }}</strong></p>
            </td> 
            <td>
            <p><strong>{{ cl.club }}</strong></p>
            </td>  
            <td>
            <p><strong>{{ cl.rang }}</strong></p>
            </td>              
            <td>
            <p>{{ cl.federation }}</p>
            </td> 
     
            <td>
            <p>{{ cl.leader }}<br>{{ cl.contacts }}</p>
            </td>             
          </tr>    
       {% endfor %}            
        </tbody>
      </table>     
    </div>
  </div>
</div>

