---
layout: default
menu: mittle-champions
---
<div class="container content" >
  <div class="title-box-v2">
    <h2>Чемпионы НКП - <span class="color-green">средние шпицы черного окраса</span></h2>
  </div>
</div>
<div class="container content  entry-content" >
    <div class="row">
      <div class="col-md-12">
        {% assign breeds = site.data.champions | group_by:"breed" %}

        {% for breed in breeds %}

          {% if breed.name == 'Немецкий средний шпиц (черный и коричневый окрасы)'  %}

            {% include champion.html %}   

          {% endif %}
        {% endfor %}    
    </div>
  </div>  
</div>