---
layout: empty
menu: champions-form  
---
<div class="container content" >
  <div class="title-box-v2">
    <h2>Монопородная выставка ранга ЧК "НЕМЕЦКИЙ ШПИЦ"</h2>
    <p>г. Москва. 25.03.2018 г.</p>
  </div>

</div>
<div class="container content  entry-content" >
  <div class="row" style="width:900px;margin:20px;">
    <div class="col-md-12">     
      <p>Выставочное положение и т.п.</p>
      <div style="display:none">{% increment counter %}</div>
      {% assign breeds = site.data.catalogfull | group_by_exp:'breed', "breed['Порода']"| sort:"name" %}  
        {% for breed in breeds %}
        {% assign types = breed.items | group_by_exp:'types', "types['Пол']" %}
          <h3 class="catalog">{{breed.name}}<h3>           
          {% for sex in types %}
              <h4 class="catalog">
                {% if sex.name == 'Кобель' %}Кобели{% endif %} 
                {% if sex.name == 'Сука' %}Суки{% endif %} 
              </h4>      
       
          {% assign classes = sex.items | group_by_exp:'classes', "classes['Класс']" %}
          {% assign classorders = 'Бэби, Щенков, Юниоров, Промежуточный, Открытый, Победителей, Чемпионов, Чемпионов НКП, Ветеранов' | split: ', ' %}
            {% for tclass in classorders %}
              {% for class in classes %}
                {% if class.name == tclass %}
                <h5 class="catalog">Класс: {{class.name}}</h5>
                
                {% assign results = class.items | sort:'Кличка' %}
                <div class="catalog-class">
                   {% for result in results %}
                    <p class="catalog"><b>{% increment counter %}.
                      <span class="text-uppercase">{{ result['Кличка']}}</span></b><br> <span class="text-uppercase">{{ result['Родословная №']}},</span>
                      <span class="text-uppercase">{{ result['Клеймо/чип']}},</span>
                      <span class="catalog-db">{{ result['Дата рождения']}},</span>
                      <span class="text-lowercase">окрас: {{ result['Окрас']}},</span><br>
                      <span class="text-uppercase">о.: {{ result['Отец (кличка)']}},</span>
                      <span class="text-uppercase">м.: {{ result['Мать (кличка)']}},</span><br>
                      зав. <span class="text-capitalize">{{ result['Заводчик']}},</span>
                      вл. <span class="text-capitalize">{{ result['Владелец']}}</span><br>
                      <span class="text-capitalize"><i>Оценка:</i>__________</span><br>
                    </p>   
                   {% endfor %}<Br>   <!-- result-->   
                </div>
            {% endif %} 
              {% endfor %} <!-- class-->       
          {% endfor %}  <!-- classorders-->       
         {% endfor %}  <!-- sex-->       
      {% endfor %}  <!-- breed-->  
                  
      <h3 class="catalog">Конкурс пар</h3>
      <p>1. Вольфшпиц. Aistraum Manfred и AISTRAUM HLOYA. &nbsp;вл. Нырковская О.М.<br />
      2. Вольфшпиц. PUSHISTIKOFF RUSH FOR GAUDI GRAFFITI и Пушистикофф Зефирка Ванилька. &nbsp;вл. Полищук И.<br />
      3. Вольфшпиц. Russkoe Serebro Edelweiss и Russkoe Serebro Onna-No Ko Yuki. вл. Krutova V.<br />
      4. Немецкий малый шпиц. Al&#39;hert Cerb Shervud Sheik и Al&#39;hert Cerb Asti Montera. вл. Щукина Е.С.<br />
      5. Немецкий малый шпиц. IMIR-SULTAN IZ PUSHISTOGO DOZORA и IZUMINKA IZ PUSHISTOGO DOZORA.вл. Sirotkina E.V.<br />
      6. Немецкий малый шпиц. VILLINGTON SHINE и SANTA LUCIA DLYA BELLE AMI DYU KER. вл. Королева М.<br />
      7. Цвергшпиц. DAN-STAR-KOM LEGEND LION HEARTS и DAN-STAR-KOM WINTER MELODY. вл. Комякова Л.</p>

      <h3 class="catalog">Конкурс питомников</h3>
      <p>1. Вольфшпиц. Айстраум. Зав. Нырковская О.<br />
      &nbsp; &nbsp; AISTRAUM HLOYA<br />
      &nbsp; &nbsp; AISTRAUM KAETANA<br />
      &nbsp; &nbsp; Aistraum Manfred<br />
      &nbsp; &nbsp; AISTRAUM TSARINA<br />
      &nbsp; &nbsp; Айстраум Вильям</p>

      <p>2. Вольфшпиц. Алмазный Источник. Зав. Грушевская Н.<br />
      &nbsp; &nbsp; Almaznyi Istochnik Aquamarine V Serebre<br />
      &nbsp; &nbsp; ALMAZNYI ISTOCHNIK NOVY STIL<br />
      &nbsp; &nbsp; ALMAZNYY ISTOCHNIK YUKATAN V SEREBRE<br />
      &nbsp; &nbsp; Алмазный источник Ажурная вязь</p>

      <p>3. Вольфшпиц. Из Мирашела. Зав. Никитина Е.<br />
      &nbsp; &nbsp; Kapitan Nemo Iz MIRASHELA<br />
      &nbsp; &nbsp; ЕВА ИЗ МИРАШЕЛА<br />
      &nbsp; &nbsp; МУРОМЕЦ ИЗ МИРАШЕЛА<br />
      &nbsp; &nbsp; РИЖЕЙС ШАЙН &nbsp;ИЗ МИРАШЕЛА<br />
      &nbsp; &nbsp; УНЕМИР ИЗ МИРАШЕЛА<br />
      &nbsp; &nbsp;&nbsp;<br />
      4. Вольфшпиц. Пушистикофф. Зав. Москвина С.<br />
      &nbsp; &nbsp; Pushistikoff Lasker&nbsp;<br />
      &nbsp; &nbsp; PUSHISTIKOFF RUSH FOR GAUDI GRAFFITI<br />
      &nbsp; &nbsp; Пушистикофф Рагдай Разумник<br />
      &nbsp; &nbsp; Пушистикофф Зефирка Ванилька</p>

      <p>5. Вольфшпиц. Русское Серебро. Зав. Крутова В.<br />
      &nbsp; &nbsp; Russkoe Serebro Edelweiss<br />
      &nbsp; &nbsp; Russkoe Serebro Hrani Tebya Lyubov<br />
      &nbsp; &nbsp; Russkoe Serebro Onna-No Ko Yuki<br />
      &nbsp; &nbsp; Русское Серебро Оберег для Пушистикофф</p>

      <p>6. Немецкий малый шпиц. Альхерт Церб. Зав. Щукина Е.С.<br />
      &nbsp; &nbsp; Al`hert Cerb Asti Montera<br />
      &nbsp; &nbsp; Al`hert Cerb Shervud Sheik<br />
      &nbsp; &nbsp; Альхерт Церб Вильгельм<br />
      &nbsp; &nbsp; Альхерт Церб Дэкстер &nbsp; &nbsp;<br />
      &nbsp; &nbsp;&nbsp;<br />
      7. Цвергшпиц. Дан-Стар-Ком. Зав. Комякова Л.<br />
      &nbsp; &nbsp; DAN-STAR-KOM AFRODITE WHITE MARRY<br />
      &nbsp; &nbsp; Dan-Star-Kom Elsa Summer Dream<br />
      &nbsp; &nbsp; DAN-STAR-KOM LEGEND LION HEARTS<br />
      &nbsp; &nbsp; DAN-STAR-KOM LENNI BOY<br />
      &nbsp; &nbsp; DAN-STAR-KOM SECRET OF MALE LOVE<br />
      &nbsp; &nbsp; DAN-STAR-KOM WINTER MELODY<br />
      &nbsp; &nbsp; ДАН-СТАР-КОМ РУССИАН КИНД СОУЛ&nbsp;<br />
      &nbsp; &nbsp;&nbsp;</p>

      </div>
  </div>
</div>         
      
  