<div class="menu-container">        
  <ul class="nav navbar-nav ">
      {% for link in site.data.links %}
        {% if link.submenu  %}
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle"><i class="fa {{ link.ico }} icon-sm"></i>{{ link.alt }}</a>
          <ul class="dropdown-menu">
            {% for sublink in link.submenu %}
            <li><a href="{{ site.url }}/{{ sublink.url }}.html"><i class="fa fa-check color-green"></i> {{ sublink.alt }}</a></li>
            {% endfor %}
          </ul>
        </li>       
        {% else %}   
        <li {% if page.menu == '{{ site.url }}/{{ link.alt }}' %} class='active' {% endif %} >
          <a href="{{ site.url }}/{{ link.url }}.html"><i class="fa {{ link.ico }} icon-sm"></i>{{ link.alt }}</a>
        </li>     
        {% endif %}
    
      {% endfor %}
   </ul> 
   <p class="copyright-text">&copy; 2017-2019 "НКП НЕМЕЦКИЙ ШПИЦ". <br>Все права защищены. <br><b>info@nkp-spitz.org</b></p>

   <ul class="social-icons social-icons-color text-center">
    <li><a href="https://www.facebook.com/groups/472730069547527/" data-original-title="Facebook" class="rounded social_facebook" target="_blank" rel="nofollow"></a></li>      
   </ul>
   <br>  
   <div class="divider"></div>
   <div class="text-center">
        <a href="https://vk.com/spitz_help" target="_blank" target="_blank" rel="nofollow"><noindex>
          <img src="/assets/spitz-help-banner.jpg" class="main-banner" width="100%">
        </noindex></a>
    </div> 
</div>
